<!-- Component communication -->
<!-- <app-user-details [email]="email"></app-user-details> -->
<!-- <app-button (userEvent)="getData($event)"></app-button> -->


<!-- API call -->
<!-- <app-api-call></app-api-call> -->


<!-- Reactive form -->
<!-- <app-form></app-form> -->

<!-- Directives -->
<!-- <app-directives></app-directives> -->


<!-- Lazy loading -->
<!-- <div class="routes-container">
    <h4>ADMIN Routes</h4>
    <a routerLink="admin/login">Login</a><br>
    <a routerLink="admin/adminDetails">View Details</a>
</div>
<div class="routes-container">
    <h4>USER Routes</h4>
    <a routerLink="user/login">Login</a><br>
    <a routerLink="user/userDetails">View Details</a>
</div>
<div>
    <h4>Component</h4><br>
    <router-outlet></router-outlet>
</div> -->